In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('sell-in.txt',sep='\t')
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452

In [18]:
df_marzo = df[df['periodo']==201903].groupby('product_id')['tn'].sum().reset_index()
df_mayo = df[df['periodo']==201905].groupby('product_id')['tn'].sum().reset_index()

In [19]:
df_6m = (df[(df['periodo']>=201811) & (df['periodo']<=201904)].groupby('product_id')['tn'].sum()).reset_index()

In [20]:
join1 = pd.merge(df_marzo, df_mayo, on='product_id', how='outer')
final = pd.merge(join1, df_6m, on='product_id', how='outer')

In [21]:
final.columns = ['product_id','marzo','mayo','6m']

In [22]:
final['err_1'] = abs(final['mayo'] - final['marzo'])
final['err_2'] = abs(final['6m']/6 - final['mayo'])

In [23]:
final

     product_id       marzo        mayo          6m      err_1       err_2
0         20001  1470.65653  1629.78233  8952.86395  159.12580  137.638338
1         20002  1083.62552  1034.98927  7457.31524   48.63625  207.896603
2         20003   638.04010   590.12515  4903.22002   47.91495  227.078187
3         20004   619.77084   603.31081  3427.43176   16.46003   32.072183
4         20005   488.21387   897.26297  2728.59427  409.04910  442.497258
..          ...         ...         ...         ...        ...         ...
972       21070         NaN         NaN     2.19482        NaN         NaN
973       21090         NaN         NaN     0.36201        NaN         NaN
974       21125         NaN         NaN     0.79569        NaN         NaN
975       21152         NaN         NaN     0.69120        NaN         NaN
976       21178         NaN         NaN     0.02654        NaN         NaN

[977 rows x 6 columns]

In [11]:
#final = final.dropna()

In [12]:
# pred1 = sum(final['err_1']) / sum(final['mayo'])
# pred1

0.2879913568406182

In [13]:
# pred2 = sum(final['err_2']) / sum(final['mayo'])
# pred2

0.26117323845292534

In [30]:
predecir = pd.read_csv('productos_a_predecir.txt', sep='\t')

In [40]:
df_diciembre = df[df['periodo']==201912].groupby('product_id')['tn'].sum().reset_index()
prediccion1 = pd.merge(df_diciembre, predecir, on='product_id', how='right')
prediccion1['product_id'] = prediccion1['product_id'].astype(int)
#prediccion1 = prediccion1[['product_id','marzo']]
prediccion1.to_csv('prediccion1.csv', index=False)

In [44]:
df_6m = (df[(df['periodo']>=201907) & (df['periodo']<=201912)].groupby('product_id')['tn'].sum()).reset_index()
prediccion2 = pd.merge(df_6m, predecir, on='product_id', how='right')
prediccion2['tn'] = prediccion2['tn']/6
prediccion2['product_id'] = prediccion2['product_id'].astype(int)
#prediccion1 = prediccion1[['product_id','marzo']]
prediccion2.to_csv('prediccion2.csv', index=False)