In [1]:
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

In [2]:
try:
    FILES
    FILE = FILES[5]
    FOLDER
except NameError:
    FILE = ['06_sell_in_pred_futuro.parquet',
            '06_kaggle_pred.csv']
    FOLDER = 'DefaultFolder'


print(f"------------------------------COMIENZA-----------------------------\n[{FOLDER}/{FILE}")

------------------------------COMIENZA-----------------------------
[DefaultFolder/['06_sell_in_pred_futuro.parquet', '06_kaggle_pred.csv']

In [3]:
#df = pd.read_parquet('sell_in_pred.parquet')
df = pd.read_parquet(f"{FOLDER}/{FILES[4][0]}")
df.head()

NameError: name 'FILES' is not defined

In [ ]:
#df_fut = pd.read_parquet('sell_in_pred_futuro.parquet')
df_fut = pd.read_parquet(f"{FOLDER}/{FILES[4][1]}")
df_fut.head()

,product_id,periodo,primer_periodo,ultimo_periodo,tn_norm,periodo_dt,mes,quarter,month_in_quarter,year,...,prop_product_yearquarter_brand,prop_product_year_cat1,prop_product_year_cat2,prop_product_year_brand,tn_futuro,tn_prediccion,average_tn,std_dev_tn,tn_futuro_real,tn_prediccion_real
0,20001,201912,201701,201912,0.356686,201912,12,4,3,2019,...,24.683874,0.702526,1.252843,6.476876,NaN,-0.874609,1398.344322,298.145460,NaN,1243.927851
1,20002,201912,201701,201912,0.256522,201912,12,4,3,2019,...,4.739874,0.507655,0.905322,1.198157,NaN,-0.756614,1009.368178,303.834835,NaN,857.422856
2,20003,201912,201701,201912,0.011975,201912,12,4,3,2019,...,7.660107,1.258237,1.673822,2.237771,NaN,-0.853452,889.004243,292.036581,NaN,643.262221
3,20004,201912,201701,201912,-0.150213,201912,12,4,3,2019,...,5.474930,0.899303,1.196336,1.599409,NaN,-0.750473,671.615383,224.450085,NaN,469.456387
4,20005,201912,201701,201912,-0.233451,201912,12,4,3,2019,...,5.091663,0.836348,1.112587,1.487444,NaN,-0.321491,644.200514,218.273222,NaN,523.071525

In [ ]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [ ]:
df_pred = df[['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred['error'] = -(df_pred['tn_futuro_real'] - df_pred['tn_prediccion_real'])/df_pred['tn_futuro_real']*100
df_pred['weight'] = df_pred['tn_futuro_real']/df_pred['tn_futuro_real'].sum()
df_pred

     product_id  tn_futuro_real  tn_prediccion_real  error  weight
0         20001             NaN         1243.927851    NaN     NaN
1         20002             NaN          857.422856    NaN     NaN
2         20003             NaN          643.262221    NaN     NaN
3         20004             NaN          469.456387    NaN     NaN
4         20005             NaN          523.071525    NaN     NaN
..          ...             ...                 ...    ...     ...
775       21263             NaN           -0.002702    NaN     NaN
776       21265             NaN            0.038590    NaN     NaN
777       21266             NaN            0.032214    NaN     NaN
778       21267             NaN            0.059020    NaN     NaN
779       21276             NaN            0.025384    NaN     NaN

[780 rows x 5 columns]

In [ ]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

nan

In [ ]:
# df_fut = df_fut[['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
# df_fut =df_fut.merge(df_pred, on='product_id', how='left', suffixes=['FUTURO', 'VALIDACION'])
# df_fut['tn_prediccion_real'] = df_fut['tn_prediccion_realFUTURO'] * (1 -df_fut['error']/100)
# df_fut

In [ ]:
kaggle =  df_fut[['product_id','tn_prediccion_real']]
kaggle['tn_prediccion_real'] = kaggle['tn_prediccion_real'].clip(lower=0)
kaggle.columns = ['product_id', 'tn']
#kaggle.to_csv('kaggle-new.csv', index=False)
kaggle.to_csv(f'{FOLDER}/{FILE[0]}', index=False)

In [ ]:
#estado_control = f"06_evaluar_prediccion Terminado - {nombrefile} - {datetime.now()}"

In [ ]:
print(f" {FOLDER}/{FILE}\n------------------------------FINALIZA-----------------------------")

 DefaultFolder/['01_sell_in_group.parquet', '01_prod_stats.parquet', '01_prod_data.parquet', '01_stock_data.parquet']
------------------------------FINALIZA-----------------------------