In [21]:
import pandas as pd
from datetime import datetime
import json
import os

fase = '02_normaliza'

In [22]:
with open('gen_config.json', 'r') as file:
    gen_config =json.load(file)

In [23]:
folder = gen_config['folder']

path_group = gen_config['path_group']
path_prod_stats = gen_config['path_prod_stats']
path_norm = gen_config['path_norm']

print(f"{'COMIENZA':-^100}")
print(f"{fase:-^100}")

----------------------------------------------COMIENZA----------------------------------------------
--------------------------------------------02_normaliza--------------------------------------------

In [24]:
df = pd.read_parquet(f"{folder}/{path_group}")
prod_stats = pd.read_parquet(f'{folder}/{path_prod_stats}')

In [16]:
df_norm = df.merge(prod_stats, how='left', on=['product_id', 'customer_id'])
df_norm.head()

,periodo,product_id,customer_id,tn,primer_periodo,ultimo_periodo,values,total_tn,min_tn,average_tn,median_tn,std_dev_tn,iqr_tn,max_tn
0,201701,20001,10001,99.43861,2017-01-01,2019-12-01,36.0,6347.96490,13.29728,176.332358,142.014620,106.032781,141.457902,439.90647
1,201701,20001,10002,35.72806,2017-01-01,2019-12-01,35.0,1395.55990,0.76174,39.873140,32.967780,32.921912,29.005305,144.07021
2,201701,20001,10003,143.49426,2017-01-01,2019-12-01,35.0,4162.77308,1.84835,118.936374,125.764550,67.491501,99.945835,275.57166
3,201701,20001,10004,184.72927,2017-01-01,2019-12-01,36.0,7740.34113,34.64810,215.009476,193.050525,114.272811,157.934347,469.45761
4,201701,20001,10005,19.08407,2017-01-01,2019-12-01,34.0,643.57850,0.86186,18.928779,15.772555,14.330075,21.564042,67.53856

In [17]:
df_norm['tn_norm'] = (df_norm['tn'] - df_norm['average_tn']) / df_norm['std_dev_tn']

In [18]:
#df_norm = df_norm[['product_id','customer_id', 'periodo','tn_norm']].sort_values(by=['product_id', 'customer_id', 'periodo'])
df_norm = df_norm.sort_values(by=['product_id', 'customer_id', 'periodo'])

In [19]:
df_norm.to_parquet(f'{folder}/{path_norm}', index=False)

In [49]:
print(f"df_norm completo: {df_norm.shape}")
print(f"df_norm completo: {df_norm[df_norm['periodo'] == 201912].shape}")

df_norm completo: (2293481, 15)
df_norm completo: (53008, 15)

In [31]:
#estado_control = f"02_normaliza Terminado - {nombrefile} - {datetime.now()}"

In [17]:
print(f"{fase:-^100}")
print(f"{'FINALIZA':-^100}\n\n\n")

--------------------------------------------02_normaliza--------------------------------------------
----------------------------------------------FINALIZA----------------------------------------------