In [6]:
import pandas as pd
from datetime import datetime
import json
import os

fase = '02_normaliza'

In [7]:
with open('gen_config.json', 'r') as file:
    gen_config =json.load(file)

In [8]:
folder = gen_config['folder']

path_group = gen_config['path_group']
path_prod_stats = gen_config['path_prod_stats']
path_norm = gen_config['path_norm']

print(f"{'COMIENZA':-^100}")
print(f"{fase:-^100}")

----------------------------------------------COMIENZA----------------------------------------------
--------------------------------------------02_normaliza--------------------------------------------

In [10]:
df = pd.read_parquet(f"{folder}/{path_group}")
prod_stats = pd.read_parquet(f'{folder}/{path_prod_stats}')

In [11]:
df_norm = df.merge(prod_stats, how='left', on='product_id')
df_norm.head()

,periodo,product_id,customer_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo,ultimo_periodo,values,total_tn,min_tn,average_tn,median_tn,std_dev_tn,iqr_tn,max_tn
0,201701,20001,1893102,0,479,937.72717,934.77222,2017-01-01,2019-12-01,36.0,50340.39558,798.01620,1398.344322,1418.023430,298.145460,335.515348,2295.19832
1,201701,20002,1548590,0,391,555.18654,550.15707,2017-01-01,2019-12-01,36.0,36337.25439,505.88633,1009.368178,992.005505,303.834835,246.766150,1979.53635
2,201701,20003,2050123,0,438,1067.81543,1063.45835,2017-01-01,2019-12-01,36.0,32004.15274,525.82591,889.004243,786.715735,292.036581,260.440887,1958.59845
3,201701,20004,1787364,0,339,569.37394,555.91614,2017-01-01,2019-12-01,36.0,24178.15379,415.52538,671.615383,596.909300,224.450085,279.662265,1268.21209
4,201701,20005,1419231,0,249,494.60084,494.27011,2017-01-01,2019-12-01,36.0,23191.21852,329.42894,644.200514,578.571990,218.273222,305.415543,1247.88880

In [12]:
df_norm['tn_norm'] = (df_norm['tn'] - df_norm['average_tn']) / df_norm['std_dev_tn']

In [13]:
df_norm[['product_id', 'periodo','tn_norm']]

       product_id  periodo   tn_norm
0           20001   201701 -1.554852
1           20002   201701 -1.511384
2           20003   201701  0.597371
3           20004   201701 -0.515479
4           20005   201701 -0.686893
...           ...      ...       ...
22344       21263   201912 -0.498974
22345       21265   201912 -0.362775
22346       21266   201912 -0.410020
22347       21267   201912 -0.965053
22348       21276   201912 -0.837426

[22349 rows x 3 columns]

In [14]:
df_norm.to_parquet(f'{folder}/{path_norm}', index=False)

In [15]:
df_norm[df_norm['periodo'] == 201912].shape

(780, 18)

In [16]:
#estado_control = f"02_normaliza Terminado - {nombrefile} - {datetime.now()}"

In [17]:
print(f"{fase:-^100}")
print(f"{'FINALIZA':-^100}\n\n\n")

--------------------------------------------02_normaliza--------------------------------------------
----------------------------------------------FINALIZA----------------------------------------------