In [11]:
import pandas as pd
from datetime import datetime
import json
import os

fase = '02_normaliza'

In [12]:
with open('gen_config.json', 'r') as file:
    gen_config =json.load(file)

In [13]:
folder = gen_config['folder']

path_group = gen_config['path_group']
path_prod_stats = gen_config['path_prod_stats']
path_norm = gen_config['path_norm']

print(f"{'COMIENZA':-^100}")
print(f"{fase:-^100}")

----------------------------------------------COMIENZA----------------------------------------------
--------------------------------------------02_normaliza--------------------------------------------

In [14]:
df = pd.read_parquet(f"{folder}/{path_group}")
prod_stats = pd.read_parquet(f'{folder}/{path_prod_stats}')

In [15]:
df_norm = df.merge(prod_stats, how='left', on='group_index')
df_norm.head()

,group_index,periodo,tn,primer_periodo,ultimo_periodo,values,total_tn,min_tn,average_tn,median_tn,std_dev_tn,iqr_tn,max_tn
0,0,201701,6.32131,2017-01-01,2019-12-01,36.0,214.60446,0.47173,5.961235,6.234785,2.164849,3.344115,9.23561
1,0,201702,5.36212,2017-01-01,2019-12-01,36.0,214.60446,0.47173,5.961235,6.234785,2.164849,3.344115,9.23561
2,0,201703,4.27708,2017-01-01,2019-12-01,36.0,214.60446,0.47173,5.961235,6.234785,2.164849,3.344115,9.23561
3,0,201704,7.85708,2017-01-01,2019-12-01,36.0,214.60446,0.47173,5.961235,6.234785,2.164849,3.344115,9.23561
4,0,201705,5.64517,2017-01-01,2019-12-01,36.0,214.60446,0.47173,5.961235,6.234785,2.164849,3.344115,9.23561

In [16]:
df_norm['tn_norm'] = (df_norm['tn'] - df_norm['average_tn']) / df_norm['std_dev_tn']

In [17]:
df_norm[['group_index', 'periodo','tn_norm']]

       group_index  periodo   tn_norm
0                0   201701  0.166328
1                0   201702 -0.276747
2                0   201703 -0.777955
3                0   201704  0.875740
4                0   201705 -0.145999
...            ...      ...       ...
15411          836   201908 -0.577488
15412          836   201909 -0.223904
15413          836   201910 -0.374476
15414          836   201911 -0.728240
15415          836   201912 -0.780589

[15416 rows x 3 columns]

In [18]:
df_norm.to_parquet(f'{folder}/{path_norm}', index=False)

In [19]:
df_norm[df_norm['periodo'] == 201912].shape

(542, 14)

In [20]:
#estado_control = f"02_normaliza Terminado - {nombrefile} - {datetime.now()}"

In [21]:
print(f"{fase:-^100}")
print(f"{'FINALIZA':-^100}\n")

--------------------------------------------02_normaliza--------------------------------------------
----------------------------------------------FINALIZA----------------------------------------------