In [7]:
import pandas as pd

In [8]:
df = pd.read_parquet('sell_in_group.parquet')
prod_stats = pd.read_parquet('prod_stats.parquet')

In [9]:
df_norm = df.merge(prod_stats, how='left', on='product_id')
df_norm.head()

,product_id,periodo,tn,primer_periodo,ultimo_periodo,values,total_tn,min_tn,average_tn,median_tn,std_dev_tn,iqr_tn,max_tn
0,20001,201701,934.77222,2017-01-01,2019-12-01,36.0,50340.39558,798.0162,1398.344322,1418.02343,298.14546,335.515348,2295.19832
1,20001,201702,798.01620,2017-01-01,2019-12-01,36.0,50340.39558,798.0162,1398.344322,1418.02343,298.14546,335.515348,2295.19832
2,20001,201703,1303.35771,2017-01-01,2019-12-01,36.0,50340.39558,798.0162,1398.344322,1418.02343,298.14546,335.515348,2295.19832
3,20001,201704,1069.96130,2017-01-01,2019-12-01,36.0,50340.39558,798.0162,1398.344322,1418.02343,298.14546,335.515348,2295.19832
4,20001,201705,1502.20132,2017-01-01,2019-12-01,36.0,50340.39558,798.0162,1398.344322,1418.02343,298.14546,335.515348,2295.19832

In [10]:
df_norm['tn_norm'] = (df_norm['tn'] - df_norm['average_tn']) / df_norm['std_dev_tn']

In [11]:
df_norm[['product_id', 'periodo','tn_norm']]

       product_id  periodo   tn_norm
0           20001   201701 -1.554852
1           20001   201702 -2.013541
2           20001   201703 -0.318592
3           20001   201704 -1.101419
4           20001   201705  0.348343
...           ...      ...       ...
22344       21276   201908 -0.751911
22345       21276   201909 -0.616417
22346       21276   201910 -0.565291
22347       21276   201911 -0.275963
22348       21276   201912 -0.837426

[22349 rows x 3 columns]

In [12]:
df_norm.to_parquet('sell_in_norm.parquet', index=False)

In [14]:
df_norm[df_norm['periodo'] == 201912].shape

(780, 14)