In [42]:
import pandas as pd

In [43]:
df = pd.read_parquet("sell_in_norm.parquet")

In [44]:
df['periodo_dt'] = pd.to_datetime(df['periodo'], format='%Y%m')
df = df.sort_values(by=['product_id', 'periodo_dt'])

In [45]:
for lag in range(1, 13):
    df[f'tn_lag_{lag}'] = df.groupby('product_id')['tn_norm'].shift(lag)

In [46]:
for diff in range(1, 13):
    df[f'tn_diff_{diff}'] = df['tn_norm'].diff(diff)

In [47]:
for deriv in range(1, 13):
    df[f'tn_diff2_{deriv}'] = df[f'tn_diff_{deriv}'].diff()

In [48]:
df = df.sort_values(by=['product_id', 'periodo'])

In [49]:
df.head(15)

,product_id,periodo,tn,primer_periodo,ultimo_periodo,values,total_tn,average_tn,median_tn,std_dev_tn,...,tn_diff2_3,tn_diff2_4,tn_diff2_5,tn_diff2_6,tn_diff2_7,tn_diff2_8,tn_diff2_9,tn_diff2_10,tn_diff2_11,tn_diff2_12
0,20001,201701,934.77222,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,201702,798.01620,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,201703,1303.35771,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,201704,1069.96130,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,201705,1502.20132,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,1.908451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20001,201706,1520.06539,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-1.635032,0.518606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,20001,201707,1030.67391,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-0.858625,-3.336402,-1.182763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,20001,201708,1267.39462,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-0.655785,1.576805,-0.900972,1.252666,NaN,NaN,NaN,NaN,NaN,NaN
8,20001,201709,1316.94604,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,0.106282,-1.283563,0.949026,-1.528751,0.624888,NaN,NaN,NaN,NaN,NaN
9,20001,201710,1439.75563,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,2.053364,0.351994,-1.037851,1.194739,-1.283038,0.870601,NaN,NaN,NaN,NaN
10,20001,201711,1580.47401,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-0.321998,2.113431,0.412062,-0.977783,1.254806,-1.222971,0.930668,NaN,NaN,NaN
11,20001,201712,1049.38860,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-1.947495,-2.575274,-0.139844,-1.841214,-3.231059,-0.998469,-3.476246,-1.322607,NaN,NaN
12,20001,201801,1169.07532,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-0.010474,0.235239,-0.392540,2.042889,0.341520,-1.048325,1.184265,-1.293512,0.860126,NaN
13,20001,201802,1043.76470,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,-0.892279,-0.832212,-0.586499,-1.214278,1.221152,-0.480218,-1.870062,0.362527,-2.115250,0.038389
14,20001,201803,1856.83534,2017-01-01,2019-12-01,36.0,50340.39558,1398.344322,1418.02343,298.14546,...,4.508390,2.255115,2.315182,2.560895,1.933117,4.368546,2.667177,1.277332,3.509921,1.032144

In [50]:
df.to_parquet('sell_in_lag.parquet', index=False)