In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('sell_in_pred.csv')

In [14]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [15]:
df_pred = df[df['periodo'] == 201912][['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred

      product_id  tn_futuro_real  tn_prediccion_real
1          20001      1504.68856         1279.744833
3          20002      1087.30855          887.685612
5          20003       892.50129          651.713996
7          20004       637.90002          498.630301
9          20005       593.24443          498.364877
...          ...             ...                 ...
1551       21263         0.01270           -0.008041
1553       21265         0.05007            0.034672
1555       21266         0.05121            0.045201
1557       21267         0.01569            0.058069
1559       21276         0.00892            0.026591

[780 rows x 3 columns]

In [16]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

0.2299234351631148