In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('sell_in_pred.parquet')

In [3]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [4]:
df_pred = df[df['periodo'] == 201912][['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred

     product_id  tn_futuro_real  tn_prediccion_real
0         20001      1504.68856         1292.610713
1         20002      1087.30855          864.246788
2         20003       892.50129          718.865687
3         20004       637.90002          513.302313
4         20005       593.24443          533.547001
..          ...             ...                 ...
775       21263         0.01270           -0.015992
776       21265         0.05007            0.036090
777       21266         0.05121            0.046774
778       21267         0.01569            0.058970
779       21276         0.00892            0.025744

[780 rows x 3 columns]

In [5]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

0.22880889979806823