In [7]:
import pandas as pd

In [8]:
df = pd.read_parquet('sell_in_pred.parquet')
df.head()

,product_id,periodo,primer_periodo,ultimo_periodo,tn_norm,periodo_dt,mes,quarter,month_in_quarter,year,...,crece_12,crece_13,crece_sum,decrece_sum,tn_futuro,tn_prediccion,average_tn,std_dev_tn,tn_futuro_real,tn_prediccion_real
0,20001,201912,201701,201912,0.356686,201912,12,4,3,2019,...,False,False,5,7,NaN,-0.728222,1398.344322,298.145460,NaN,1287.572609
1,20002,201912,201701,201912,0.256522,201912,12,4,3,2019,...,True,False,6,6,NaN,-0.350038,1009.368178,303.834835,NaN,980.954824
2,20003,201912,201701,201912,0.011975,201912,12,4,3,2019,...,True,False,6,6,NaN,-0.607327,889.004243,292.036581,NaN,715.139474
3,20004,201912,201701,201912,-0.150213,201912,12,4,3,2019,...,False,False,5,7,NaN,-0.381328,671.615383,224.450085,NaN,552.310930
4,20005,201912,201701,201912,-0.233451,201912,12,4,3,2019,...,False,False,6,6,NaN,-0.248184,644.200514,218.273222,NaN,539.072602

In [9]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [10]:
df_pred = df[['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred

     product_id  tn_futuro_real  tn_prediccion_real
0         20001             NaN         1287.572609
1         20002             NaN          980.954824
2         20003             NaN          715.139474
3         20004             NaN          552.310930
4         20005             NaN          539.072602
..          ...             ...                 ...
775       21263             NaN            0.037664
776       21265             NaN            0.035398
777       21266             NaN            0.034094
778       21267             NaN            0.079299
779       21276             NaN            0.032347

[780 rows x 3 columns]

In [11]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

C:\Users\waldo\AppData\Local\Temp\ipykernel_27168\1250120186.py:4: RuntimeWarning: invalid value encountered in scalar divide
  resultado = perdida / total

nan

In [12]:
kaggle =  df_pred[['product_id','tn_prediccion_real']]
kaggle['tn_prediccion_real'] = kaggle['tn_prediccion_real'].clip(lower=0)
kaggle.columns = ['product_id', 'tn']
kaggle.to_csv('kaggle-optim.csv', index=False)

C:\Users\waldo\AppData\Local\Temp\ipykernel_27168\1817541298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kaggle['tn_prediccion_real'] = kaggle['tn_prediccion_real'].clip(lower=0)