In [3]:
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

In [2]:
try:
    FILES
    FILE = FILES[5]
    FOLDER
except NameError:
    FILE = ['06_sell_in_pred_futuro.parquet',
            '06_kaggle_pred.csv']
    FOLDER = 'DefaultFolder'


print(f"------------------------------COMIENZA-----------------------------\n[{FOLDER}/{FILE}")

------------------------------COMIENZA-----------------------------
[DefaultFolder/['06_sell_in_pred_futuro.parquet', '06_kaggle_pred.csv']

In [3]:
#df = pd.read_parquet('sell_in_pred.parquet')
df = pd.read_parquet(f"./Experimentos/2024-06-23_NuevoScript/05_sell_in_pred.parquet")
prod_data_ungroup = pd.read_parquet(f"./Experimentos/2024-06-23_NuevoScript/01_prod_data_ungroup.parquet")
prod_a_predecir = pd.read_csv('../productos_a_predecir.txt', sep='\t')
#df = pd.read_parquet(f"{FOLDER}/{FILES[4][0]}")
df.head(10)

,group_index,periodo,primer_periodo,ultimo_periodo,tn_norm,periodo_dt,mes,quarter,month_in_quarter,year,...,prop_product_yearquarter_brand,prop_product_year_cat1,prop_product_year_cat2,prop_product_year_brand,tn_futuro,tn_prediccion,average_tn,std_dev_tn,tn_futuro_real,tn_prediccion_real
0,0,201910,201701,201912,-0.676253,201910,10,4,1,2019,...,0.038599,0.006340,0.008434,0.011276,-1.859492,-0.257087,5.961235,2.164849,6.432965,9.901931
1,1,201910,201701,201912,1.416488,201910,10,4,1,2019,...,0.623117,0.102352,0.136158,0.182033,-0.870918,-1.497740,45.055592,19.446381,100.720542,88.531120
2,3,201910,201701,201912,0.907566,201910,10,4,1,2019,...,4.114001,0.040285,0.053590,1.019582,-2.000504,-1.030812,20.425481,8.979435,31.036991,39.744283
3,4,201910,201701,201912,2.434911,201910,10,4,1,2019,...,5.384090,0.133150,0.177129,1.625048,-2.291788,-2.031267,52.564027,17.201064,107.589907,112.071153
4,8,201910,201701,201912,0.520914,201910,10,4,1,2019,...,4.204624,0.690645,0.918759,1.228310,-2.562506,-0.668900,423.968669,126.554825,589.564029,829.209039
5,10,201910,201701,201912,0.857984,201910,10,4,1,2019,...,37.811627,0.370254,0.492545,9.370942,-2.027425,-0.808890,213.894553,56.803297,361.361033,430.577820
6,11,201910,201701,201912,1.921957,201910,10,4,1,2019,...,29.023396,0.717758,0.954828,8.759961,-1.544524,-1.271937,287.427001,115.350161,618.390911,649.833840
7,12,201910,201807,201912,0.534383,201910,10,4,1,2019,...,0.362714,0.059579,0.079257,0.105961,-1.052705,-1.010308,35.058689,13.477646,63.131609,63.703026
8,13,201910,201811,201912,1.770263,201910,10,4,1,2019,...,0.341763,0.056138,0.074679,0.099840,-1.876991,-1.527404,28.804991,6.222160,56.945901,59.121090
9,14,201910,201701,201912,0.636206,201910,10,4,1,2019,...,3.626463,0.595677,0.792424,1.059410,-1.295064,0.028266,350.873766,112.630154,627.540166,776.587064

In [4]:
df_fut = pd.read_parquet(f"./Experimentos/2024-06-23_NuevoScript/05_sell_in_pred_futuro.parquet")
#df_fut = pd.read_parquet(f"{FOLDER}/{FILES[4][1]}")
df_fut.head(10)

,group_index,periodo,primer_periodo,ultimo_periodo,tn_norm,periodo_dt,mes,quarter,month_in_quarter,year,...,prop_product_yearquarter_brand,prop_product_year_cat1,prop_product_year_cat2,prop_product_year_brand,tn_futuro,tn_prediccion,average_tn,std_dev_tn,tn_futuro_real,tn_prediccion_real
0,0,201912,201701,201912,-2.535745,201912,12,4,3,2019,...,0.004049,0.000665,0.000885,0.001183,NaN,1.895348,5.961235,2.164849,NaN,10.536108
1,1,201912,201701,201912,0.545570,201912,12,4,3,2019,...,0.477758,0.078476,0.104396,0.139569,NaN,-0.716580,45.055592,19.446381,NaN,86.785657
2,3,201912,201701,201912,-1.092939,201912,12,4,3,2019,...,1.527766,0.014960,0.019901,0.378630,NaN,0.473684,20.425481,8.979435,NaN,35.290403
3,4,201912,201701,201912,0.143122,201912,12,4,3,2019,...,3.136829,0.077575,0.103197,0.946771,NaN,-0.513049,52.564027,17.201064,NaN,98.764922
4,8,201912,201701,201912,-2.041592,201912,12,4,3,2019,...,1.421262,0.233454,0.310562,0.415198,NaN,1.747966,423.968669,126.554825,NaN,810.777580
5,10,201912,201701,201912,-1.169440,201912,12,4,3,2019,...,21.231118,0.207896,0.276563,5.261757,NaN,1.058563,213.894553,56.803297,NaN,421.490881
6,11,201912,201701,201912,0.377433,201912,12,4,3,2019,...,18.867069,0.466589,0.620699,5.694537,NaN,-0.406364,287.427001,115.350161,NaN,571.516713
7,12,201912,201807,201912,-0.518323,201912,12,4,3,2019,...,0.240943,0.039577,0.052649,0.070387,NaN,0.473994,35.058689,13.477646,NaN,69.519934
8,13,201912,201811,201912,-0.106728,201912,12,4,3,2019,...,0.241526,0.039673,0.052776,0.070558,NaN,0.264108,28.804991,6.222160,NaN,58.589221
9,14,201912,201701,201912,-0.658859,201912,12,4,3,2019,...,2.374556,0.390041,0.518868,0.693687,NaN,1.121962,350.873766,112.630154,NaN,753.906966

In [5]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [6]:
df_pred = df[['group_index', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred['error'] = -(df_pred['tn_futuro_real'] - df_pred['tn_prediccion_real'])/df_pred['tn_futuro_real']*100
df_pred['error_abs'] = -(df_pred['tn_futuro_real'] - df_pred['tn_prediccion_real'])
df_pred['weight'] = df_pred['tn_futuro_real']/df_pred['tn_futuro_real'].sum()
df_pred.sort_values('weight', ascending=False, inplace=True)
df_pred

,group_index,tn_futuro_real,tn_prediccion_real,error,error_abs,weight
12,18,5083.964210,5367.848048,5.583907,283.883838,8.748250e-02
185,281,3512.521052,3406.918368,-3.006464,-105.602684,6.044184e-02
190,292,2658.894910,2683.529668,0.926504,24.634758,4.575303e-02
201,311,2375.211296,2641.209598,11.198932,265.998303,4.087154e-02
199,309,1886.768613,2106.250600,11.632692,219.481987,3.246664e-02
...,...,...,...,...,...,...
261,401,0.102020,0.114177,11.916764,0.012157,1.755513e-06
324,511,0.101933,0.151652,48.775961,0.049719,1.754022e-06
262,402,0.096301,0.101966,5.882541,0.005665,1.657097e-06
327,514,0.093276,0.101658,8.986611,0.008382,1.605050e-06
481,727,0.054367,0.079910,46.982696,0.025543,9.355222e-07

In [7]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

0.15415512549245797

In [19]:
# df_pred_ungroup = df_pred
df_pred_ungroup = df_pred[['group_index', 'tn_prediccion_real']]
df_pred_ungroup = df_pred_ungroup.merge(prod_data_ungroup, on='group_index', how='left')
df_pred_ungroup = df_pred_ungroup[['group_index', 'product_id', 'tn_prediccion_real', 'proporcion']]

df_pred_ungroup = df_pred_ungroup[df_pred_ungroup['product_id'].isin(prod_a_predecir['product_id'])]
df_pred_ungroup['prediccion_final'] = df_pred_ungroup['tn_prediccion_real'] * df_pred_ungroup['proporcion']
df_pred_ungroup.sort_values('product_id', ascending=True, inplace=True)

df_pred_ungroup[df_pred_ungroup['group_index'] == 281]

    group_index  product_id  tn_prediccion_real  proporcion  prediccion_final
10          281       20001         3406.918368    0.824276       2808.242519
8           281       20045         3406.918368    0.083762        285.370373
11          281       20102         3406.918368    0.022346         76.132258
9           281       20150         3406.918368    0.031043        105.760541
7           281       20261         3406.918368    0.038572        131.412676

In [ ]:
# df_fut = df_fut[['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
# df_fut =df_fut.merge(df_pred, on='product_id', how='left', suffixes=['FUTURO', 'VALIDACION'])
# df_fut['tn_prediccion_real'] = df_fut['tn_prediccion_realFUTURO'] * (1 -df_fut['error']/100)
# df_fut

In [59]:
df_pred_fut = df_fut[['group_index', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred_fut['error'] = -(df_pred_fut['tn_futuro_real'] - df_pred_fut['tn_prediccion_real'])/df_pred_fut['tn_futuro_real']*100
df_pred_fut['error_abs'] = -(df_pred_fut['tn_futuro_real'] - df_pred_fut['tn_prediccion_real'])
df_pred_fut['weight'] = df_pred_fut['tn_futuro_real']/df_pred_fut['tn_futuro_real'].sum()
df_pred_fut.sort_values('weight', ascending=False, inplace=True)
df_pred_fut

     group_index  tn_futuro_real  tn_prediccion_real  error  error_abs  weight
0              0             NaN           10.536108    NaN        NaN     NaN
1              1             NaN           86.785657    NaN        NaN     NaN
2              3             NaN           35.290403    NaN        NaN     NaN
3              4             NaN           98.764922    NaN        NaN     NaN
4              8             NaN          810.777580    NaN        NaN     NaN
..           ...             ...                 ...    ...        ...     ...
537          830             NaN            0.495307    NaN        NaN     NaN
538          833             NaN            0.346163    NaN        NaN     NaN
539          834             NaN            0.270038    NaN        NaN     NaN
540          835             NaN            0.546947    NaN        NaN     NaN
541          836             NaN            0.273040    NaN        NaN     NaN

[542 rows x 6 columns]

In [62]:
df_fut_ungroup = df_fut[['group_index', 'tn_prediccion_real']]
df_fut_ungroup = df_fut_ungroup.merge(prod_data_ungroup, on='group_index', how='left')
df_fut_ungroup = df_fut_ungroup[['group_index', 'product_id', 'tn_prediccion_real', 'proporcion']]

df_fut_ungroup = df_fut_ungroup[df_fut_ungroup['product_id'].isin(prod_a_predecir['product_id'])]
df_fut_ungroup['prediccion_final'] = df_fut_ungroup['tn_prediccion_real'] * df_fut_ungroup['proporcion']
df_fut_ungroup.sort_values('product_id', ascending=True, inplace=True)
df_fut_ungroup

     group_index  product_id  tn_prediccion_real  proporcion  prediccion_final
0              0       20609           10.536108    1.000000         10.536108
1              1       20266           86.785657    0.640248         55.564376
2              1       20325           86.785657    0.108127          9.383858
3              1       20503           86.785657    0.251625         21.837423
4              3       20299           35.290403    1.000000         35.290403
..           ...         ...                 ...         ...               ...
868          830       21170            0.495307    1.000000          0.495307
869          833       21202            0.346163    1.000000          0.346163
870          834       21218            0.270038    1.000000          0.270038
871          835       21192            0.546947    1.000000          0.546947
872          836       21222            0.273040    1.000000          0.273040

[780 rows x 5 columns]

In [63]:
kaggle =  df_fut_ungroup[['product_id','prediccion_final']]
kaggle['prediccion_final'] = kaggle['prediccion_final'].clip(lower=0)
kaggle.columns = ['product_id', 'tn']
#kaggle.to_csv('kaggle-new.csv', index=False)
kaggle.to_csv(f"{FOLDER}/{datetime.now().strftime('%Y%m%d_%H%M%S')}_{FILE[0]}", index=False)

In [ ]:
#estado_control = f"06_evaluar_prediccion Terminado - {nombrefile} - {datetime.now()}"

In [ ]:
print(f" {FOLDER}/{FILE}\n------------------------------FINALIZA-----------------------------")

 DefaultFolder/['01_sell_in_group.parquet', '01_prod_stats.parquet', '01_prod_data.parquet', '01_stock_data.parquet']
------------------------------FINALIZA-----------------------------