In [14]:
import pandas as pd

In [15]:
df = pd.read_parquet('sell_in_pred.parquet')
df.head()

,product_id,periodo,primer_periodo,ultimo_periodo,tn_norm,periodo_dt,tn_lag_1,tn_lag_2,tn_lag_3,tn_lag_4,...,tn_diff2_9,tn_diff2_10,tn_diff2_11,tn_diff2_12,tn_futuro,tn_prediccion,average_tn,std_dev_tn,tn_futuro_real,tn_prediccion_real
0,20001,201912,201701,201912,0.356686,201912,-0.003260,0.547254,0.877630,-0.459504,...,-0.349650,0.415891,1.067363,1.454473,NaN,0.775048,1398.344322,298.145460,NaN,1735.765654
1,20002,201912,201701,201912,0.256522,201912,1.363271,3.193077,0.265998,-0.643725,...,-1.240414,-0.370250,-1.953699,1.385908,NaN,0.662930,1009.368178,303.834835,NaN,1288.729765
2,20003,201912,201701,201912,0.011975,201912,0.203021,0.658692,0.269716,-0.867729,...,0.220842,0.515860,-0.858568,1.305646,NaN,0.830771,889.004243,292.036581,NaN,1135.116926
3,20004,201912,201701,201912,-0.150213,201912,0.233133,1.751307,0.510385,-0.844204,...,-1.176696,-0.073104,-0.052637,0.582490,NaN,0.689765,671.615383,224.450085,NaN,792.717853
4,20005,201912,201701,201912,-0.233451,201912,-0.170835,1.615325,1.078133,-0.492651,...,-0.421406,-0.274804,-0.021154,0.380083,NaN,0.206793,644.200514,218.273222,NaN,638.381746

In [22]:
def perdida(real, prediccion):
    total = real.sum()
    perdida =  abs(real - prediccion).sum()
    resultado = perdida / total
    return resultado

In [23]:
df_pred = df[['product_id', 'tn_futuro_real', 'tn_prediccion_real']]
df_pred

     product_id  tn_futuro_real  tn_prediccion_real
0         20001             NaN         1735.765654
1         20002             NaN         1288.729765
2         20003             NaN         1135.116926
3         20004             NaN          792.717853
4         20005             NaN          638.381746
..          ...             ...                 ...
775       21263             NaN            0.041465
776       21265             NaN            0.086005
777       21266             NaN            0.072639
778       21267             NaN            0.000987
779       21276             NaN            0.028766

[780 rows x 3 columns]

In [24]:
perdida = perdida(df_pred['tn_futuro_real'], df_pred['tn_prediccion_real'])
perdida

C:\Users\waldo\AppData\Local\Temp\ipykernel_10488\1250120186.py:4: RuntimeWarning: invalid value encountered in scalar divide
  resultado = perdida / total

nan

In [25]:
kaggle =  df_pred[['product_id','tn_prediccion_real']]
kaggle['tn_prediccion_real'] = kaggle['tn_prediccion_real'].clip(lower=0)
kaggle.columns = ['product_id', 'tn']
kaggle.to_csv('kaggle.csv', index=False)

C:\Users\waldo\AppData\Local\Temp\ipykernel_10488\1857772308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kaggle['tn_prediccion_real'] = kaggle['tn_prediccion_real'].clip(lower=0)