In [91]:
import pandas as pd
import os
import json

fase = '07_semillerio'

In [92]:
with open('gen_config.json', 'r') as file:
    gen_config =json.load(file)

In [93]:
folder = gen_config['folder']

path_kaggle = gen_config['path_kaggle']

print(f"{'COMIENZA':-^100}")
print(f"{fase:-^100}")

----------------------------------------------COMIENZA----------------------------------------------
-------------------------------------------07_semillerio--------------------------------------------

In [94]:
# csv1 = pd.read_csv('./Current Best/kaggle.csv')

In [95]:
# csv2 = pd.read_csv('./Current Best/kaggle-new.csv')

In [96]:
# combined_df = pd.merge(csv1, csv2, on='product_id')

# # Mostrar el DataFrame combinado para verificar
# print("DataFrame combinado:")
# print(combined_df.head())

DataFrame combinado:
   product_id         tn_x         tn_y
0       20001  1225.256596  1352.259835
1       20002   943.856354   908.069786
2       20003   745.610447   673.462601
3       20004   514.593195   508.676223
4       20005   502.090965   490.859439

In [97]:

# import polars as pl 

# # Convertir el DataFrame de Pandas a Polars
# df = pl.DataFrame(combined_df)
 
# # Definir las columnas a promediar
# columnas_a_promediar = ['tn_x', 'tn_y']
 
# # Calcular el promedio sumando las columnas y dividiendo por la cantidad de columnas
# df = df.with_columns(
#     (sum(pl.col(col) for col in columnas_a_promediar) / len(columnas_a_promediar)).alias('promedio_tn')
# )
 
# df= df.select(['product_id', 'promedio_tn'])

In [98]:
# df

shape: (780, 2)
┌────────────┬─────────────┐
│ product_id ┆ promedio_tn │
│ ---        ┆ ---         │
│ i64        ┆ f64         │
╞════════════╪═════════════╡
│ 20001      ┆ 1288.758215 │
│ 20002      ┆ 925.96307   │
│ 20003      ┆ 709.536524  │
│ 20004      ┆ 511.634709  │
│ 20005      ┆ 496.475202  │
│ …          ┆ …           │
│ 21263      ┆ 0.021226    │
│ 21265      ┆ 0.040578    │
│ 21266      ┆ 0.044856    │
│ 21267      ┆ 0.056338    │
│ 21276      ┆ 0.025463    │
└────────────┴─────────────┘

In [136]:
import glob

# Ruta a la carpeta actual
carpeta = './Current Best/'

# Obtener una lista de todos los archivos CSV en la carpeta actual
archivos_csv = glob.glob(os.path.join(carpeta, '*.csv'))

print(archivos_csv)

['./Current Best\\kaggle-all lags 40 leaves 02 lr.csv', './Current Best\\kaggle-new.csv', './Current Best\\kaggle.csv']

In [137]:
dfs = []
# Iterar sobre cada archivo en la lista y leerlo en un DataFrame
for archivo in archivos_csv:
    df = pd.read_csv(archivo)
    dfs.append(df)

In [138]:
dfs2 = pd.concat(dfs, ignore_index=True)
dfs_agrupados = dfs2.groupby('product_id')['tn'].mean()

In [144]:
dfs

[     product_id           tn
 0         20001  1245.109567
 1         20002   865.341151
 2         20003   701.389923
 3         20004   514.862842
 4         20005   546.558944
 ..          ...          ...
 775       21263     0.003653
 776       21265     0.053939
 777       21266     0.044763
 778       21267     0.062873
 779       21276     0.026751

 [780 rows x 2 columns],
      product_id           tn
 0         20001  1352.259835
 1         20002   908.069786
 2         20003   673.462601
 3         20004   508.676223
 4         20005   490.859439
 ..          ...          ...
 775       21263     0.035513
 776       21265     0.054332
 777       21266     0.047952
 778       21267     0.054064
 779       21276     0.020150

 [780 rows x 2 columns],
      product_id           tn
 0         20001  1225.256596
 1         20002   943.856354
 2         20003   745.610447
 3         20004   514.593195
 4         20005   502.090965
 ..          ...          ...
 775       21263     0.006940
 776       21265     0.026824
 777       21266     0.041761
 778       21267     0.058612
 779       21276     0.030775

 [780 rows x 2 columns]]

In [139]:
type(dfs_agrupados)

pandas.core.series.Series

In [140]:
dfs_agrupados=pd.DataFrame(dfs_agrupados, columns=['tn'])

In [141]:
dfs_agrupados

                     tn
product_id
20001       1274.208666
20002        905.755764
20003        706.820990
20004        512.710753
20005        513.169783
...                 ...
21263          0.015369
21265          0.045031
21266          0.044825
21267          0.058516
21276          0.025892

[780 rows x 1 columns]

In [142]:
dfs_agrupados=dfs_agrupados.reset_index()

In [143]:
dfs_agrupados

     product_id           tn
0         20001  1274.208666
1         20002   905.755764
2         20003   706.820990
3         20004   512.710753
4         20005   513.169783
..          ...          ...
775       21263     0.015369
776       21265     0.045031
777       21266     0.044825
778       21267     0.058516
779       21276     0.025892

[780 rows x 2 columns]

In [135]:
dfs_agrupados.to_csv('semillerio.csv', index=False)

In [ ]:
#dfs_agrupados.to_csv(f"{folder}/{datetime.now().strftime('%Y%m%d_%H%M%S')}_{path_kaggle}", index=False)

In [ ]:
print(f"{fase:-^100}")
print(f"{'FINALIZA':-^100}\n\n\n")